.cart-tab {
  width: 400px;
  background-color: #c5c3a8;
  color: black;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  overflow-y: auto;
}

.cart-tab.open {
  transform: translateX(0);
  pointer-events: auto;
}


/* Cart header */
.cart-header {
  text-align: center;
  flex-shrink: 0;
  font-size: 30px;
  padding: 20px 40px;
  font-family: "Fascinate Inline", cursive;
}

.cart-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #0b0929;
  padding: 10px 0;
  gap: 10px;
}

/* Product image */
.cart-item-img {
  width: 9vw;
  height: 9vw;
  object-fit: cover;
  border-radius: 5px;
}

/* Product info */
.cart-item-info {
  flex: 1; /* takes remaining space */
  display: flex;
  flex-direction: column;
  gap: 3px;
  text-align: left;
}

.cart-item-name {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.cart-item-price,
.cart-item-quantity {
  font-size: 14px;
  margin: 0;
}

/* Remove button */
.cart-item-remove {
  background-color: #0b0929;
  color: #c5c3a8;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Limelight", cursive;
}

.cart-item-remove:hover {
  background-color: #6e7597;
}

/* Cart total */
.cart-total {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  padding-left: 10px;
}


/* Close button */
.closeCart {
  background-color: #0b0929;
  color: #c5c3a8;
  font-size: 18px;
  font-family: "Limelight", cursive;
  border: none;
  padding: 10px 20px;
  height: 60px;
  cursor: pointer;
  width: 100%;
}

.closeCart:hover {
  background-color: #6e7597;
}

/* Scrollbar for long carts */
.cart-tab::-webkit-scrollbar {
  display: none;
}

.clearCart {
  background-color: #0b0929;
  color: #c5c3a8;
  font-size: 18px;
  font-family: "Limelight", cursive;
  border: none;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  width: 40%;
  margin-bottom: 20px;
}

.clearCart:hover {
  background-color: #6e7597;
}

.cart-bottom {
  position: fixed;
  bottom: 0;
  background-color: #c5c3a8;
  width: 100%;
}